#dk_cl{
	position: fixed;
    top: 300px;
    left: 964px;
    opacity: 0.9;
	transition:0ms;
}

body{

}

#dk_title{
    position: absolute;
    color: white;
    width: 268px;
    height: 20px;
    z-index: 1;
    padding: 6px;
    padding-left: 22px;
    opacity: 1;
	cursor:move;
	-webkit-user-select:none;
	user-select:none;
}

#dk_cl_wrapper{
	width:300px;
	height:415px;
    margin : 0 auto ;
    border:0px solid #000;
	background-color :tranparent;
	position: absolute;

	background:gray;
	border-radius: 10px;
	top:0px;
	box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.78);
}

#dk_s_wrapper {
position: absolute;
    z-index: 1;
    top: 33px;
    bottom: 48px;
    left: 5;
    width: 290px;
    background: white;
    overflow: hidden;
    height: 320px;
    padding-left: 0px;
    font-size: 13px;
}



#dk_txt{
    position: absolute;
    top: 356px;
    height: 32px;
    left: 5px;
    width: 291px;
    padding: 6px;
}

.dk_usermsg{
	float:left;
	width:100%;
}

.dk_usermsgbox{
	    background: orange;
    margin: 5px;
    float: right;
    padding: 6px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 11px;
    color: white;
    font-size: 14px;
    max-width: 80%;
    word-break: break-all;
}

.dk_user{
	float:left;
	width:100%;
}

.dk_userbox{
	    font-size: 12px;
    font-weight: bold;
    float: right;
    margin-top: -5px;
	    margin-right: 9px;
}

.dk_userbox > span{
	font-size:10px;
}


.dk_admin{
	float:left;
	width:100%;
}

.dk_adminbox{
	font-size: 10px;
    font-weight: bold;
    float: left;
    margin-top: -5px;
	margin-left: 9px;
}


.dk_usermsg{
	float:left;
	width:100%;
}




.dk_adminmsg{
	float:left;
	width:100%;
}

.dk_adminmsgbox{
	background: #466bf7;
    margin: 5px;
    float: left;
    padding: 6px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 11px;
    color: white;
 
    font-size: 14px;
	    max-width: 70%;
		word-break: break-all;
}

#dk_footer{
position: absolute;
    top: 389px;
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
    left: 143px;
}



.sk-cube-grid {
    width: 100px;
    height: 100px;
    margin: 100px auto;
    /* overflow: hidden; */
    position: absolute;
    top: 3px;
    left: 103px;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
background-color: #9400D3;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
background-color: #4B0082	;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
background-color: #0000FF	;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
background-color: 	#00FF00	;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
background-color: #FFFF00	;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
background-color: #FF7F00	;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
background-color: #4B0082	;
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
background-color: #FF0000	;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
background-color: black	;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

.dk_me{
position: absolute;
    width: 100%;
    text-align: center;
    top: 212px;
    font-size: 15px;
    font-weight: bold;
    color: rgba(1, 2, 23, 0.66);

}

.dk_bg{

    background-image: url(/img/PAVIlogo.png?t=123213232);
    background-repeat: no-repeat;
    background-size: 61%;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 323px;
    opacity: 0.2;

}